[submodule "software/buildroot"]
	path = software/buildroot
	url = https://git.busybox.net/buildroot/
[submodule "software/esp-hosted"]
	path = software/esp-hosted
	url = git@github.com:zachmorr/esp-hosted.git
	branch = f1c200s
